<div appNewPopUpPlaceHolder>
</div>

<div class="mainDiv">
  <div class="row">
        <div class="card  mx-auto ml-lg-0" style="width: 18rem; cursor: pointer;" (click)="newPost()">
          <img src="https://i.imgur.com/RjInJrK.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Create a new scheduled tweet</p>
          </div>
        </div>

      <div class="card mx-auto" style="width: 18rem; cursor: pointer;">
        <img src="https://i.imgur.com/f6J0Bnz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">View Active scheduled tweets</p>
        </div>
      </div>

      <div class="card mx-auto mr-lg-0" style="width: 18rem; cursor: pointer">
        <img src="https://i.imgur.com/AbC2rEW.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">View stats of scheduled tweets</p>
        </div>
      </div>
  </div>
</div>
